
body{
    background-color:rgb(243, 243, 246);
    font-family:poppins;
    margin:0;
    padding: 20px;
}

.container {
      background: #ffffffcc;;
      max-width: 600px;
      margin: auto;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
h1{
    text-align: center;
    color: #111112;
    font-size: 28px;
    font-weight:bold ;
    margin-bottom: 10px;
}

    input, select, textarea {
      width: 100%;
      padding: 5px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    textarea {
      resize: vertical;
      height: 100px;
    }
h1,h2, label {
    text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
form{
    display: flex;
    flex-direction: column;
}
label,h2{
    margin: top 5px;
    margin-bottom: 4px;
    font-weight: normal;
    margin-top: 10px;

}


input[type="text"],
input[type="file"],
textarea{
padding: 10px;
margin: top 5px;
border:1px solid#ccc
}
textarea{
    resize: vertical;
}
 button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      background-color: #007BFF;
      border: none;
      color: white;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
    }
button:hover{
    background-color:#0056b3;
}
